
@media (min-width: 768px) {
  body {
    font-size: 20px;
  }
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-size: 11px;
    background-color: #010203;
    font-family: "Stack Sans Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.stack-sans-text {
  font-family: "Stack Sans Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

header {
    border-top: 1px solid rgb(255, 187, 0);
    background-color: #161718;
}

.list{
    display: flex;
    right:100px;
    background-color: #161718;
    padding-left: 210px;
    font-size: 15px;
    padding-top: 40px; 
    padding-bottom: 30px;
}

.encabezadolist {
    padding: 0;
}

.letras { /* letras del encabezado */
    line-height: 60px;
    display: inline-block;
    color: white;
}

.lista-telefono {
    list-style: none;
    padding-left: 45px;
    display: inline-block;
}   


.Telefono {
    right: 100px;
    height: 734px;
    border: 0px;
}

a {
    text-decoration: none;
    font-style: none ;
    color: gray;
}

a:hover {
    color: rgb(255, 187, 0);
}

.pie {
    color: white;
}

.pie2 {
    color: gray;
}

.pocotitle {
    padding: 10px 0px 15px 60px;
    font-size: 2.3em;
    color:white;
}

.encabezadoimg {
    padding: 0 25px;
    height: 60px;
    background-color: 161718;
}

.pocoimg {
    padding: 0 40px ;
    display: inline-block;
}

.letrasfoto {
    color:white;
    display: inline-block;
    padding: 0 10px;
    position: relative;
    top: -25px;
    font-size: 12px;
}

.letrasfoto:hover {
   color: none;
}

.img-letras {
    position: relative;
    display: inline-block;
}

.pocoimagen{
    position:absolute;
    height: 31px;
    top: 170px;
    left: 1025px;
    margin-top: 20px
}

.titulo-encima {
    font-size: 30px;
    position: absolute;
    top: 140px;
    left: 970px;
    margin-top: 100px
}

.texto-encima {
    font-size: 20px;
    position: absolute;
    line-height: 25px;
    top: 38%;
    left: 786px;
    text-align: right;
}

.img-espec {
    padding: 0px;
    height: 500px;
    width: 100%;
}

.contenedor 
{
    position: relative;
}

.letras-excepcional {
    position: relative;
    color: orange;
    top: -320px;
    left: 35%;
    font-size: 55px;
}

.titulo-generico-amarillo {
    color: orange;
    text-align: center;
}

.titulo-generico-blanco {
    color: white;
    text-align: center;
}

.parrafo-generico-gris {
    color: gray; 
    text-align: center;
}

.lista-espec {
    color: white;
    list-style: none;
    padding: 0 500px;
    padding: 20px;
    display: inline-block;
}

.img-normal {
    height: 100%;
}

.letras-sobrepuestas-genericas {
    position: absolute;
    color: orange;
    top: 100px;
    left: 500px;
}

.letras-sobrepuestas-genericas-blancas {
    position: absolute;
    color: rgb(255, 255, 255);
    top: 150px;
    left: 535px;
}

.parrafo-sobrepuestas-generico-gris {
    position: absolute;
    color: rgb(81, 78, 78);
    top: 250px;
    left: 350px;
}


.contenedor_footer {
    display: flex;
}

.input {
    display: flex;
    padding-left: 20px;
    padding-bottom: 10px;
    height: 40px;

}

.procesador{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.camara{
    display: flex;
    justify-content: flex-start;
}

.water-resistance {
    display: flex;
    justify-content: flex-end;
}

.hardware {
    height: 100px;
    width: 100px;   
}

.hardware-pantalla {
    height: 100px;
    width: 200px;
}

.especificaciones {
    padding: 80px 300px;
}

.big-container{
    display: flex;
    justify-content: center;
}

.right-container{
    display: block;
}

.bottom-content{
    display: flex;
    justify-content: center;
}

.hardware-equis{
    width: 100%;
}

.camara {
    margin-right: 12px;
}

.pantalla {
    margin-bottom: 6px;
    width: 500px;
}

.water {
    margin-top: 6px;
    height: 400px;
    width: 250px;
}

.battery {
    margin-top: 6px;
    margin-left: 10px;
    height: 400px;
    width: 240px;
}